@font-face {
  font-family: "IntroHead-Base";
  src: url(../fonts/IntroHeadB-Trial-Base.ttf);
}

@font-face {
  font-family: "IntroHead-BaseShade";
  src: url(../fonts/IntroHeadBUC-Trial-BaseShade.ttf);
}

@font-face {
  font-family: "IntroHead-Shade";
  src: url(../fonts/IntroHeadB-Trial-Shade.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --bg-primary-color: #d5090a;
  --bg-secondary-color: #c2050c;
  --title-color: #fabf02;
  --text-color: #f1f1f1;
  --title-font: "IntroHead-BaseShade";
  --text-font: "IntroHead-Base";
}

body {
  background-color: var(--bg-secondary-color);
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 20px;
}

header {
  justify-content: center;
  background-color: var(--bg-primary-color);
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  position: sticky;
}

header img {
  width: 50px;
  height: 50px;
}

h1 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: 48px;
}

main {
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-primary-color);
  padding: 10px;
  border-radius: 15px;
}

legend {
  color: var(--title-color);
  font-weight: 600;
}

fieldset {
  border: 1px solid var(--title-color);
  border-radius: 15px;
  padding: 4px;
}

.form-param {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

input {
  width: 100%;
  background-color: var(--bg-secondary-color);
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 20px;
}

.form-param.checkbox {
  flex-direction: column;
  
}

input[type="checkbox"] {
  width: auto;
}
